.Header{
  display:flex;
  justify-content: space-between;
  /* border: 2px solid black; */
}
.logo-container>img{
  width:100px;
  height: 100px;
}
.items{
  display: flex;
  list-style-type: none;
}
.Navitems>.items>li{
  padding:10px 10px;
  margin: 10px 10px;
  font-size: 20px;
}

/*for body*/
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:10px;
  padding: 10px;
  height: 100%;
  background-color: white;
  /* border: 2px solid black; */
}
.card{
  display: flex;
  flex-direction: column;
  background-color:#f0f0f0;
  color: black;
  padding: 10px;
  margin: 20px;
  width:250px;
  height: 300px;
  font-size: 20px;
  /* border: 2px solid black; */
}
.card>.cuisine{
  word-wrap:break-word;
}

.card >.food-image{
  height:50%;
  margin-bottom: 30px;
}
.card >.food-image>img{
  height:100%;
  width:100%;
}
.star-rating-time{
  display: flex;
}
.star>img{
  width:20px;
  height:20px;
}

/* for Shimmer container */
.Shimmer-Container{
  display: flex;
  flex-wrap: wrap;
}
.Shimmer-card{
  background-color:#f0f0f0;
  color: black;
  padding: 10px;
  margin: 20px;
  width:250px;
  height: 300px;
  font-size: 20px;

}

.login-btn{
   cursor: pointer;
   width: 70px;
   height: 30px;
   margin:15px;
}
.Search-Functionality{
  margin-top: 15px;
}


